body {
  margin: 0%;
  padding: 0%;
}

.login-wrapper {
  position: absolute;
  width: 500px;
  height: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.login-wrapper .logo {
  position: absolute;
  height: 100px;
  width: 100px;
  transform: translateY(-50%);
  left: calc(50% - 50px);
  border-radius: 50%;
}

.login-wrapper .title {
  text-align: center;
  font-weight: bold;
  color: #037ad8;
  margin: 50px 20px 10px 20px;
}

.login-wrapper .form-group {
  position: relative;
  margin: 16px 8px;
  padding: 8px 4px;
}

.login-wrapper .form-group input {
  position: relative;
  width: 100%;
  background-color: transparent;
  color: #fff;
  margin: 4px 0px 4px 0px;
  padding: 8px 0px 8px 0px;
  font-size: 18px;
  border: 0px;
  outline: none;
  text-indent: 35px;
  border-bottom: 2px solid #037ad8;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.login-wrapper .form-group input:focus {
  border-bottom: 2px solid #000;
}

.login-wrapper .form-group input:valid {
  border-bottom: 2px solid #037ad8;
}

.login-wrapper .form-group label {
  position: absolute;
  top: 25px;
  left: 35px;
  color: #037ad8;
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

.login-wrapper .form-group input:focus ~ label,
.login-wrapper .form-group input:valid ~ label {
  top: 0px;
  font-weight: lighter;
  color: #000;
}

.login-wrapper .form-group input:valid ~ label {
  color: #037ad8;
}

.login-wrapper .form-group i {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 24px;
  color: #037ad8;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

.login-wrapper .form-group input:focus ~ i,
.login-wrapper .form-group input:valid ~ i {
  color: #000;
}

.login-wrapper .form-group input:valid ~ i {
  color: #037ad8;
}

.login-wrapper .btn {
  position: relative;
  background-color: #037ad8;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  margin: 16px;
  padding: 8px 16px;
  width: calc(100% - 2 * 16px);
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.login-wrapper .btn:hover {
  background-color: #000;
}

/* #signup {
  font-size: 18px;
  text-transform: capitalize;
  border: none;
  outline: none;
  margin: 8px;
  padding: 8px;
  background-color: transparent;
  color: #037ad8;
  transition: 0.2s ease-in-out;
}

#signup:hover {
  color: #000;
  transform: translateX(20px);
  cursor: pointer;
} */

nav {
  background-color: #037ad8;
  height: 56px;
  line-height: 56px;
}

nav #logout {
  position: absolute;
  right: 25px;
  text-decoration: none;
  color: #fff;
}

#alert {
  background: #dc3545;
  color: #fff;
  text-align: center;
  width: 80%;
  margin: 16px auto;
  padding: 1px;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
}
